In [2]:
c = 0
c = 5/2
type(c)

float

In [3]:
# multiple assignments
name,rollno,age = 'python', 123, 12.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [4]:
a, b= 10, 20               # swaping of two numbers
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [5]:
2**5

32

In [6]:
pow(2,5)

32

In [7]:
5 is 10

False

In [8]:
5 is not 10

True

In [9]:
## conditional statements 
if(7<6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [10]:
#Iterative statements
# range(10)
range(2,10,2)

range(2, 10, 2)

In [11]:
#Iterarive statements
for x in range(2,10, 2):
    #print(x)
    print(x, end = ",")

2,4,6,8,

In [12]:
#while
num = 1
while num<6:
    print(num)
    num += 1

1
2
3
4
5

In [13]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [14]:
for i in range(10, 4, -1):  # printing values in reverse
    print(i)

10
9
8
7
6
5

In [15]:
for i in 1:   ## in for loop you have to give sequence of numbers not single integers
    print(i)

TypeError: 'int' object is not iterable

In [16]:
for i in "hai":   
    print(i)

h
a
i

In [17]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [18]:
print(1,2,sep=",")
print(3,sep=";")  # sep operator only works with two operator

1,2
3

In [19]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [20]:
n=input("enter value:")
print(n,type(n))
#type(n)

enter value:2
2 <class 'str'>

In [21]:
1+"2"  # convert the string to integer

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
1+int("2")

3

In [23]:
num = 10
print(num)
print(Num)

10

NameError: name 'Num' is not defined

In [24]:
l=[1,10,20]
l

[1, 10, 20]

In [25]:
l[1]

10

In [26]:
l[3]

IndexError: list index out of range

In [27]:
n = int(input())
li = []
count=0
for i in range(1, n+1):
    j = int(input())
    li.append(j)
    count = count+1
print(count)

2
1
2
2

In [29]:
data=input()    # count of numbers

print(len(data.split()))

1 2 3 4
4

In [33]:
data = input()  #number of digits
count = 0
for char in data.split(" "):
    count+=1
print(count)

1 2 3
3

In [34]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [35]:
n = int(input())    #sum of digits of a number
sum = 0
while(n>0):
    temp = n%10
    sum = sum + temp
    n = n//10
print(sum)

12345
15

In [36]:
data = input() # 1,3,5   #sum of digits seperated by ,
values=data.split(",")  #['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1,2,3,4,5
15

In [1]:
data = input()
values = data.split(",") #['1','2','3']
#map(method_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [41]:
l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [2]:
# print minimum and maximum value  of 1+2+3+4+5+7
data = input()
values = data.split("+")
ll=list(map(int,values))
print("maximum value", max(ll))
print("minimum value", min(ll))

1+2+3+4+5
maximum value 5
minimum value 1

In [5]:
#t -->number of test cases 3
# next t lines input
#3
#4+5     -->4\n 5
#5+77+0  -->0\n 77
#5+7     --->5\n 7

t = int(input())
for i in range(t):
    data = input()
    val = data.split("+")
    li = list(map(int,val))
    print(min(li))
    print(max(li))

3
4+5
4
5
5+77+0
0
77
5+7
5
7

In [1]:
# t---test cases t=3
# 4 5 6 7 8
# 4 5 6 7
# 4 5 6 7

t= int(input())
for i in range(t):
    s= input()
    k = s.split(" ")
    li=list(map(int,k))
    print(sum(li))

3
4 5 6 7 8
30
4 5 6 7
22
4 5 6 7
22

In [ ]:
# t---test cases t=3
# 4 5 6 7 8
# 4 5 6 7
# 4 5 6 7

In [2]:
# average of 20 30 45
data = input()
value = data.split(" ")
li = list(map(int,value))
print(sum(li)//len(li))

20 30 45
31

In [3]:
# reverese the input 123   
text = input()
reverse_text=text[::-1]
for char in reverse_text:
    print(char)

123
3
2
1

In [4]:
#input 123
#output: 3\n2\n1
for char in input()[::-1]:            
    print(char)

123
3
2
1

In [9]:
#input : sravani thanamgari
# output : T. Sravani
name = input()
a,b=name.split(' ')
print(b[0], a , sep=". ")

sravani thanamgari
t. sravani

In [10]:
name = input()
a,b=name.split(' ')[::-1]
print(a[0], b , sep=". ")

sravani thanamgari
t. sravani

### strings

In [11]:
s = ""
print(type(s))

<class 'str'>

In [12]:
s = "123"
s2 = int(s)
print(s2, type(s), type(s2))

123 <class 'str'> <class 'int'>

In [14]:
s1 = '2'
s2 = '3'
print(int(s1)+int(s2))
print(type(s1))

5
<class 'str'>

### Strings in python

In [15]:
s = "sravanithanamgari"
len(s)

17

In [16]:
s = "sravani thanamgari"
len(s)

18

In [17]:
s[0]

's'

In [18]:
s[17]

'i'

In [21]:
s[-3]

'a'

In [20]:
s[20]

IndexError: string index out of range

In [22]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [23]:
s

'sravani thanamgari'

In [27]:
s[0:7]

'sravani'

In [28]:
s[8:18]

'thanamgari'

In [29]:
s[8:18:2]

'taagr'

In [31]:
s[8:]

'thanamgari'

In [32]:
s[:]

'sravani thanamgari'

In [33]:
s[::-1]

'iragmanaht inavars'

## string methods
- str.upper()
- str.lower()
- str.startswith(sub_string)
- str.endswith(sub_string)
- str.isdigit()
- str.split()
- str.rstrip()
- str.lstrip()
- str.strip()
- str.islower()
- str.isupper()
- str.isalpha()

### str.upper()

In [36]:
#Method to convert in capital letters
s = "python"
print(s.upper())
print(s)

PYTHON
python

In [37]:
s = "python"
s = s.upper()
print(s)

PYTHON

### str.lower()

In [38]:
s = "PYTHON"
print(s.lower())
print(s)

python
PYTHON

### str.startswith(sub_string)

In [39]:
s = "pyhton"
print(s.startswith('p'))

True

In [40]:
main = 'python'
sub = 'p'
print(main.startswith(sub))

True

### str.lower()

In [43]:
main = 'python'
sub = 'P'
print(main.startswith(sub.lower()))

True

In [46]:
main = 'python'.lower()
sub = 'P'.lower()
print(main.startswith(sub))

True

In [48]:
main = "python programming"
print(main.startswith('python'))

True

In [49]:
main = "python programming"
print(main.startswith('programming'))

False

### str.endswith(sub_string)

In [50]:
main = "pyhton programming"
print(main.endswith("programming"))

True

In [52]:
main = "pyhton programming"
print(main.endswith("gram"))

False

### isdigit()

In [56]:
s = "123"
print(s.isdigit())

True

In [55]:
s = "123aba"
print(s.isdigit())

False

In [57]:
s = input("enter number")
if s.isdigit():
    print('sucess', int(s))
else:
    print('i asked you to give number but why you given wrond input')

enter number123
sucess 123

In [58]:
s = input("enter number")
if s.isdigit():
    print('sucess', int(s))
else:
    print('i asked you to give number but why you given wrond input')

enter number123abc
i asked you to give number but why you given wrond input

### str.split()

In [60]:
s = " Pyhton programming"     ## slicing of strings 
result = s.split()
#print(result, type(result))
print(result[1])

programming

### str.lstrip()
##### removes the spaces in left side of the string

In [61]:
s = " sravani "
result = s.lstrip()
print(len(s),len(result), result)

9 8 sravani

### str.rstrip()
#### removes the spaces in right side of the string

In [64]:
s = "  sravani    "
result = s.lstrip()
print(len(s),len(result), result)

13 11 sravani

In [65]:
s = "  sravani    "    # removes the both side spaces
result = s.lstrip().rstrip()
print(len(s),len(result), result)

13 7 sravani

In [66]:
s = "  sravani    "
result = s.lstrip()
result = result.rstrip()
print(len(s),len(result), result)

13 7 sravani

### str.strip()
#### removes the both side spaces at a time

In [67]:
s = "  sravani    "    # removes the both side spaces
result = s.strip()
print(len(s),len(result), result)

13 7 sravani

### str.isupper()

In [68]:
s = "PYTHON"
print(s.isupper())

True

In [69]:
s = "pyhton"
print(s.isupper())

False

### str.islower()

In [70]:
s = "pyhton"
print(s.islower())

True

In [71]:
s = "PYHTON"
print(s.islower())

False

### str.isalpha()

In [72]:
s = "PYHTON"
print(s.isalpha())

True

In [73]:
s = "PYHTON123"
print(s.isalpha())

False

### str.swapcase()

In [74]:
s = "progRAMMING"
print(s.swapcase())

PROGramming

In [3]:
###"Mahesh"
### 1 3
s1 = "Mahesh"
if (s1.startswith('Mah')):
    s1.replace("Mah","haM")
print(s1)

Mahesh