## Pyhton Data Structures:

In [21]:
li = [1,'abc',45.09]
li

[1, 'abc', 45.09]

In [22]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [23]:
li

[1, 'abc', 45.09]

## append

In [25]:
li.append(89)

In [26]:
li

[1, 'abc', 45.09, 89, 89]

# insert

In [27]:
### li.insert
li.insert(2,34)
li

[1, 'abc', 34, 45.09, 89, 89]

In [28]:
### li.insert(position, value)
li.insert(2,34)
li

[1, 'abc', 34, 34, 45.09, 89, 89]

In [29]:
li

[1, 'abc', 34, 34, 45.09, 89, 89]

In [30]:
li[4] = 25
li

[1, 'abc', 34, 34, 25, 89, 89]

In [31]:
li.pop()

89

In [32]:
li

[1, 'abc', 34, 34, 25, 89]

In [36]:
li = [1,34,56,67,89]
li

[1, 34, 56, 67, 89]

In [37]:
li.pop(1)

34

In [38]:
li

[1, 56, 67, 89]

In [39]:
li.remove(79)

ValueError: list.remove(x): x not in list

In [43]:
li.remove(56)  #removes the particular number

ValueError: list.remove(x): x not in list

In [44]:
li

[1, 67, 89]

In [45]:
li.clear()  # clear only  elements in the list

In [46]:
li

[]

In [47]:
li1 = [1,2,3,4]
li1

[1, 2, 3, 4]

In [48]:
del li1  # del values along with structure

In [49]:
li1

NameError: name 'li1' is not defined

## sort()

In [50]:
li=[1,5,2,4,6,7,8]
li

[1, 5, 2, 4, 6, 7, 8]

In [52]:
li.sort()
li

[1, 2, 4, 5, 6, 7, 8]

## reverse()

In [53]:
li

[1, 2, 4, 5, 6, 7, 8]

In [54]:
li[::-1]

[8, 7, 6, 5, 4, 2, 1]

In [55]:
li.sort(reverse=True)

In [56]:
li

[8, 7, 6, 5, 4, 2, 1]

In [57]:
li.reverse()

In [58]:
li

[1, 2, 4, 5, 6, 7, 8]

## copy

In [59]:
cli = li
print(cli,li)

[1, 2, 4, 5, 6, 7, 8] [1, 2, 4, 5, 6, 7, 8]

In [60]:
cli.append(537)

In [61]:
cli

[1, 2, 4, 5, 6, 7, 8, 537]

In [62]:
li

[1, 2, 4, 5, 6, 7, 8, 537]

In [63]:
li.pop()
li

[1, 2, 4, 5, 6, 7, 8]

In [64]:
cli

[1, 2, 4, 5, 6, 7, 8]

In [65]:
cli2 = li.copy()
print(cli2,li)

[1, 2, 4, 5, 6, 7, 8] [1, 2, 4, 5, 6, 7, 8]

In [66]:
cli2.append(537)
cli2

[1, 2, 4, 5, 6, 7, 8, 537]

In [67]:
li

[1, 2, 4, 5, 6, 7, 8]

In [68]:
print(cli2,li)

[1, 2, 4, 5, 6, 7, 8, 537] [1, 2, 4, 5, 6, 7, 8]

## extend()

In [69]:
print(cli2,li)

[1, 2, 4, 5, 6, 7, 8, 537] [1, 2, 4, 5, 6, 7, 8]

In [70]:
li.extend(cli2)
li

[1, 2, 4, 5, 6, 7, 8, 1, 2, 4, 5, 6, 7, 8, 537]

In [71]:
cli2

[1, 2, 4, 5, 6, 7, 8, 537]

In [72]:
li.append(cli2)

In [73]:
li

[1, 2, 4, 5, 6, 7, 8, 1, 2, 4, 5, 6, 7, 8, 537, [1, 2, 4, 5, 6, 7, 8, 537]]

In [75]:
li[15] ## access the sublist

[1, 2, 4, 5, 6, 7, 8, 537]

In [76]:
li[15][2]   ## access the element from the sublist

4

### count

In [82]:
cli2.append(2)
cli2

[1, 2, 4, 5, 6, 7, 8, 537, 7, 7, 7, 3, 2]

In [83]:
cli2.count(7)

4

In [87]:
cli2.insert(2,[6,3,9])

In [88]:
cli2

[1, 2, [6, 3, 9], [6, 3, 9], 4, 5, 6, 7, 8, 537, 7, 7, 7, 3, 2]

In [99]:
n = [6,3,9]
x = n[::-1]
for i in x:
    cli2.insert(2,i)

In [100]:
cli2

[1,
 2,
 6,
 3,
 9,
 9,
 3,
 6,
 9,
 3,
 6,
 9,
 3,
 6,
 9,
 3,
 6,
 9,
 3,
 6,
 [6, 3, 9],
 [6, 3, 9],
 4,
 5,
 6,
 7,
 8,
 537,
 7,
 7,
 7,
 3,
 2]

In [101]:
li = [1,3,5,7,8,9]

In [102]:
for i in [8,9,10]:
    li.insert(2,i)

In [103]:
li

[1, 3, 10, 9, 8, 5, 7, 8, 9]

In [105]:
# insert [8,9,10]
x = [8,9,10]   
s = x[::-1]
for i in s:
    li.insert(1,i)

In [106]:
li

[1, 8, 9, 10, 3, 10, 9, 8, 5, 7, 8, 9]

In [107]:
sum(li)

87

In [108]:
max(li)

10

In [109]:
min(li)

1

In [110]:
len(li)

12

In [ ]:
li = list() ##empty list

In [7]:

    
t= int(input())
for i in range(t):
    s= input()
    k = s.split(" ")
    li=list(map(int,k))
   
    print((sum(li)/len(li)))

2
3 4 5 6
4.5
3 4 5 6
4.5

#Your program is to use the brute-force approach in order to find the Answer to Life, the Universe, and Everything. More precisely... rewrite small numbers from input to output. Stop processing input after reading in the number 42. All numbers at input are integers of one or two digits.

In [2]:
while(1):
    N= int(input())
    if(N==42):
        break
    else:
        print(N)

4
4
5
5
6
6
42

###